fastapi
uvicorn[standard]
python-dotenv
pydantic[email]
sqlalchemy
alembic
python-jose[cryptography]
python-multipart
scikit-learn
pandas
numpy
requests
dnspython
python-Levenshtein
datasets
torch
transformers
pytest
httpx
passlib[bcrypt]
google-auth-oauthlib
google-api-python-client
cryptography
redis
python-whois
